.sub_category_visible{
  text-align: center;

  width: 200px;
  border: 2px solid black;
  display: block;
  background-color: bisque;
  color: aqua;
  
}

.parent_category{
  width: 100%;
}



.sub_category_visible > div:hover{
  background-color: aqua;
  color: white;
  cursor: pointer;
  padding: 10px;
 
}



.sub_category_hidden{
  display: none;
}

.sub_category_visible > div{
  padding: 10px;
 
}



.categories_container{
  display: flex;
  justify-content: start;
  
}
.categories_container > div{
  margin-right: 1px;
}
.individual_cat_item:hover{
  background-color: aqua;
  cursor: pointer;
  color: white;
}

.individual_cat_item_focused, .individual_cat_item_focused:hover{
  background-color: aqua;
  color: white;
}



.individual_cat_item{
  padding: 10px;
}

.category > .parent_category:hover{

}

.category{
  background-color: black;
  color: white;
  width: 200px;
  padding: 10px;
  text-align: center;
  position: relative;
}